/* .image {
    min-width: 137px;
    width: 20%;
    object-fit: contain;
    padding: 10%;
    border-radius: 20px 0 0 20px;
} */

/* .card {
    width: 20%;
    margin: 1%;
    height: min-content;
    box-shadow: 0 0.5em 1em -0.125em rgba(75, 75, 75, 0.5), 0 0 0 1px rgb(10 10 10 / 2%);
    border-radius: .5rem;
}

.card-image:first-child img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
} */

.showItem {
    display: flex;
    margin: 0 2% 2% 2%;
    width: min-content;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: 1px solid black;
}

.item {
    padding: 1%;
}

button {
    height: fit-content;
}

.archived-shows {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.archive {
    background-color: #c8bcbc;
    width: 80%;
    padding: 1em 2em;
    margin: 4% auto;
    border-radius: 20px;
}

.textContent {
    width: max-content;
    padding: 0 0 0 5%;
}

@media screen and (max-width: 600px) {
    .card-footer {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
    }

    .btn {
        margin: 2%;
    }
}