.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.login-form-control {
    margin: auto;
    width: 50%;
}

.container--login {
    text-align: center;
    margin-top: 10%;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

#form {
    margin-top: 10%;
}